flows.json
[{"id":"f06b4f2d.03f9b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"f06b4f2d.03f9b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Dear Customer motor maximum range is crossed .Actomatically motor was stopped","payloadType":"str","x":110,"y":140,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"f06b4f2d.03f9b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":140,"wires":[]},{"id":"ea02a46a.b70688","type":"ibmiot in","z":"f06b4f2d.03f9b","authentication":"apiKey","apiKey":"984fec5d.d8a3e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"001","applicationId":"","deviceType":"iotinformation","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":280,"wires":[["6cd97e3f.5ced2","4c15c06f.0d26f","97ccf468.a483d8","bec7a18c.aa131"]]},{"id":"6cd97e3f.5ced2","type":"debug","z":"f06b4f2d.03f9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":180,"wires":[]},{"id":"4c15c06f.0d26f","type":"function","z":"f06b4f2d.03f9b","name":"temperature","func":"global.set('t',msg.payload.d.temperature)\nreturn{payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":320,"wires":[["6cd97e3f.5ced2","6ee2afb3.2387b","9c908110.80d3f"]]},{"id":"97ccf468.a483d8","type":"function","z":"f06b4f2d.03f9b","name":"humidity","func":"global.set('h',msg.payload.d.humidity)\nreturn{payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":360,"wires":[["dfea378e.c294a8"]]},{"id":"6ee2afb3.2387b","type":"ui_gauge","z":"f06b4f2d.03f9b","name":"Temperature","group":"9f1eb267.5dd73","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#0065b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":320,"wires":[]},{"id":"dfea378e.c294a8","type":"ui_chart","z":"f06b4f2d.03f9b","name":"Humidity","group":"9f1eb267.5dd73","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#461970","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":360,"wires":[[]]},{"id":"bec7a18c.aa131","type":"function","z":"f06b4f2d.03f9b","name":"objectTemp","func":"global.set('v',msg.payload.d.objectTemp)\nreturn{payload:msg.payload.d.objectTemp}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":400,"wires":[["6cd97e3f.5ced2","ee1d35b6.110518"]]},{"id":"ee1d35b6.110518","type":"ui_chart","z":"f06b4f2d.03f9b","name":"ObjectTemp","group":"9f1eb267.5dd73","order":2,"width":0,"height":0,"label":"ObjectTemp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#5f1111","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":400,"wires":[[]]},{"id":"fd9e4ef5.62731","type":"ui_button","z":"f06b4f2d.03f9b","name":"Motor ON","group":"9f1eb267.5dd73","order":3,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\".\"motoron\"}","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":40,"wires":[["b91c08f1.63b138","fd27ab0e.585948"]]},{"id":"5f0b9e8f.c5452","type":"ui_button","z":"f06b4f2d.03f9b","name":"Motor OFF","group":"9f1eb267.5dd73","order":4,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\".\"motoroff\"}","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":100,"wires":[["b91c08f1.63b138","fd27ab0e.585948"]]},{"id":"b91c08f1.63b138","type":"debug","z":"f06b4f2d.03f9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[]},{"id":"fd27ab0e.585948","type":"ibmiot out","z":"f06b4f2d.03f9b","authentication":"apiKey","apiKey":"984fec5d.d8a3e","outputType":"cmd","deviceId":"001","deviceType":"iotinformation","eventCommandType":"Industrial Motor","format":"string","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":380,"y":40,"wires":[]},{"id":"ee404bff.ae0448","type":"switch","z":"f06b4f2d.03f9b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":280,"wires":[["c72e10b2.9d663"]]},{"id":"9c908110.80d3f","type":"rbe","z":"f06b4f2d.03f9b","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":530,"y":280,"wires":[["ee404bff.ae0448"]]},{"id":"c72e10b2.9d663","type":"http request","z":"f06b4f2d.03f9b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=chBP1U8RoWrCG7MglH5wSa4QOdmI9Nv36J0VqFXKtDLpekY2Ts4WBwkTnXFGe2jJpfK1rCzQyL9YvHtZ&message=Dear%20customer%20Motor%20range%20is%20very%20high%20Automatically%20motor%20was%20stopped&language=english&route=q&numbers=8099166120","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":280,"wires":[["c257420c.d595a"]]},{"id":"c257420c.d595a","type":"debug","z":"f06b4f2d.03f9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":280,"wires":[]},{"id":"840d1a95.ba3868","type":"cloudant in","z":"f06b4f2d.03f9b","name":"","cloudant":"","database":"abcd","service":"node-red-oofnu-2021--cloudant-1624106097905-84532","search":"_all_","design":"","index":"","x":350,"y":580,"wires":[["a08da04c.5ac8d"]]},{"id":"2f82f5de.59765a","type":"inject","z":"f06b4f2d.03f9b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":580,"wires":[["840d1a95.ba3868"]]},{"id":"18c1c737.5143a9","type":"debug","z":"f06b4f2d.03f9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":580,"wires":[]},{"id":"9655d99c.b51b18","type":"http response","z":"f06b4f2d.03f9b","name":"","statusCode":"","headers":{},"x":530,"y":460,"wires":[]},{"id":"5714ad90.96ad24","type":"http in","z":"f06b4f2d.03f9b","name":"http in","url":"/motorsensordata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":460,"wires":[["d350a0f5.27696"]]},{"id":"d350a0f5.27696","type":"function","z":"f06b4f2d.03f9b","name":"http response","func":"msg.payload={\"t\":global.get('t'),\"h\":global.get('h'),\"v\":global.get('v')}   \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":460,"wires":[["9655d99c.b51b18"]]},{"id":"a08da04c.5ac8d","type":"rbe","z":"f06b4f2d.03f9b","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":490,"y":580,"wires":[["a15f6d41.6363c"]]},{"id":"a15f6d41.6363c","type":"switch","z":"f06b4f2d.03f9b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":580,"wires":[["53d30249.53f70c"]]},{"id":"53d30249.53f70c","type":"http request","z":"f06b4f2d.03f9b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=chBP1U8RoWrCG7MglH5wSa4QOdmI9Nv36J0VqFXKtDLpekY2Ts4WBwkTnXFGe2jJpfK1rCzQyL9YvHtZ&message=Dear%20customer%20Motor%20range%20is%20very%20high%20Automatically%20motor%20was%20stopped&language=english&route=q&numbers=8099166120","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":580,"wires":[["18c1c737.5143a9"]]},{"id":"d9273ae7.fcdc48","type":"http in","z":"f06b4f2d.03f9b","name":"m input","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["11c9fcfd.f1ace3"]]},{"id":"d8810a46.a445f8","type":"http response","z":"f06b4f2d.03f9b","name":"","statusCode":"","headers":{},"x":770,"y":520,"wires":[]},{"id":"11c9fcfd.f1ace3","type":"function","z":"f06b4f2d.03f9b","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":520,"wires":[["d8810a46.a445f8","9c13753b.529578"]]},{"id":"9c13753b.529578","type":"debug","z":"f06b4f2d.03f9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"984fec5d.d8a3e","type":"ibmiot","name":"iotsampledata","keepalive":"60","serverName":"c0uvi7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9f1eb267.5dd73","type":"ui_group","name":"Default","tab":"2f26e00b.89fb3","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f26e00b.89fb3","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]